<html ng-app="chat">
<head>
	<title>Tutorial</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script src="js/chat.js"></script>
</head>
<body ng-controller="MainCt1">
	<div class="jumbotron">
		<h1>Chat</h1>
	</div>
	<ul>
		<li ng-repeat="m in messages">{{m}}</li>
</ul>

		<input type="text" placeholder="type here" ng-model="msg"><button class = "btn btn-primary" ng-click="send()">Send</button>
</body>
</html>
